*:focus, button:focus {
  outline: none; }

body {
  font-size: 16px;
  cursor: default; }

ul, nav {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #000; }
  a:hover {
    text-decoration: none; }

.animated {
  -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important; }

.spin {
  display: inline-block; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden; }

.button {
  width: 170px;
  height: 45px;
  background-color: #27c5ff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.9;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease; }
  .button:hover {
    opacity: 1;
    background-color: #f8721d; }
  .button__slider {
    font-size: 20px;
    bottom: -25px;
    position: absolute;
    background-color: transparent;
    border: none; }
    .button__slider__prev {
      right: 50px; }
    .button__slider__next {
      right: 15px; }

span[class*="icon-"] {
  padding: 5px;
  color: #27c5ff; }
  span[class*="icon-"]:hover {
    color: #f8721d; }

.header {
  width: 100%; }
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s ease !important;
  -o-transition: all 1s ease !important;
  transition: all 1s ease !important; }
  .menu__click {
    -webkit-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    transition: all 1s ease !important; }
  .menu__item__link {
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    border-radius: 20px;
    color: #778089;
    text-transform: uppercase; }
    .menu__item__link:hover {
      color: #fff;
      background-color: #27c5ff; }

.mobile-menu {
  position: relative;
  width: 45px;
  height: 35px;
  cursor: pointer;
  z-index: 3;
  left: 10px;
  padding: 0px;
  top: -45px; }
  .mobile-menu span {
    position: absolute;
    width: 45px;
    height: 9px;
    background-color: #000;
    border-radius: 9px;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .mobile-menu span:nth-child(1) {
      top: 0; }
    .mobile-menu span:nth-child(2) {
      top: 13px; }
    .mobile-menu span:nth-child(3) {
      top: 13px; }
    .mobile-menu span:nth-child(4) {
      top: 26px; }
  .mobile-menu__open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .mobile-menu__open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .mobile-menu__open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .mobile-menu__open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease; }

.section-slider {
  background-color: #f7f7f7; }

.slider__item {
  padding: 50px 0; }

.slider__img {
  max-width: 750px; }

.title {
  margin: 30px auto; }

/*GOODS */
.goods {
  margin-top: 30px;
  margin-bottom: 30px; }
  .goods:after {
    content: '';
    background-color: #f7f7f7;
    height: 2px;
    width: 80%;
    display: block;
    position: relative;
    margin: 0px auto;
    top: 15px; }

.goods1, .goods2, .goods3 {
  background-color: #fff; }
  .goods1__left__item, .goods2__left__item, .goods3__left__item {
    padding: 20px; }
  .goods1__left img, .goods2__left img, .goods3__left img {
    max-width: 570px;
    background-color: transparent; }
    .goods1__left img .slick-dots, .goods2__left img .slick-dots, .goods3__left img .slick-dots {
      bottom: 0; }
  .goods1 .slick-current img, .goods2 .slick-current img, .goods3 .slick-current img {
    opacity: 1; }
  .goods1__content, .goods2__content, .goods3__content {
    position: relative;
    margin-bottom: 50px; }
  .goods1__right, .goods2__right, .goods3__right {
    z-index: 2; }
    .goods1__right__title, .goods2__right__title, .goods3__right__title {
      display: block;
      margin: 80px 0 60px;
      position: relative; }
      .goods1__right__title:after, .goods2__right__title:after, .goods3__right__title:after {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        top: 65px;
        background-color: #27c5ff;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease; }
      .goods1__right__title:hover:after, .goods2__right__title:hover:after, .goods3__right__title:hover:after {
        width: 90px;
        background-color: #f8721d; }
    .goods1__right__li, .goods1__right__li2, .goods2__right__li, .goods2__right__li2, .goods3__right__li, .goods3__right__li2 {
      padding: 5px 0; }
      .goods1__right__li:hover [class^='icon-'], .goods1__right__li2:hover [class^='icon-'], .goods2__right__li:hover [class^='icon-'], .goods2__right__li2:hover [class^='icon-'], .goods3__right__li:hover [class^='icon-'], .goods3__right__li2:hover [class^='icon-'] {
        color: #f8721d;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease; }
    .goods1__right__li2, .goods2__right__li2, .goods3__right__li2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .goods1__right__li2 [class^='icon-'], .goods2__right__li2 [class^='icon-'], .goods3__right__li2 [class^='icon-'] {
        font-size: 25px; }
      .goods1__right__li2__text, .goods2__right__li2__text, .goods3__right__li2__text {
        padding: 5px;
        letter-spacing: -0.03em; }
        .goods1__right__li2__text p, .goods2__right__li2__text p, .goods3__right__li2__text p {
          margin: 0;
          line-height: 28px; }
        .goods1__right__li2__text span, .goods2__right__li2__text span, .goods3__right__li2__text span {
          font-size: 20px; }
    .goods1__right__link:hover .spin, .goods2__right__link:hover .spin, .goods3__right__link:hover .spin {
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease;
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg); }
    .goods1__right__link:hover .icon-right, .goods2__right__link:hover .icon-right, .goods3__right__link:hover .icon-right {
      color: #f8721d;
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }
  .goods1 .icon-right, .goods2 .icon-right, .goods3 .icon-right {
    font-size: 14px;
    font-weight: bold; }

.button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.goods2 {
  background-color: #f7f7f7; }

.goods1__left__nav__item, .goods2__left__nav__item, .goods3__left__nav__item {
  height: 100px; }
  .goods1__left__nav__item img, .goods2__left__nav__item img, .goods3__left__nav__item img {
    width: 100px;
    opacity: 0.6; }
    .goods1__left__nav__item img:hover, .goods2__left__nav__item img:hover, .goods3__left__nav__item img:hover {
      opacity: 1;
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }

.about, .contacts {
  text-align: center; }

.contacts__text {
  font-size: 18px;
  margin: 20px auto; }
  .contacts__text__mail {
    border-radius: 20px;
    padding: 0 10px;
    margin-bottom: 10px; }
  .contacts__text__phone, .contacts__text__address {
    white-space: nowrap; }
  .contacts__text__phone:hover span[class^="icon"], .contacts__text__address:hover span[class^="icon"], .contacts__text__mail:hover span[class^="icon"] {
    color: #f8721d; }

.gradient {
  background-color: #fbfbfb;
  background-image: url(data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, white), color-stop(1, #f7f7f7));
  background-image: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background-image: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 100%);
  background-image: -ms-linear-gradient(top, white 0%, #f7f7f7 100%); }

.toTop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 100px;
  background: #27c5ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 99;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
  cursor: pointer; }
  .toTop .arrow {
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -25px;
    left: 50%;
    margin-left: -10px; }
    .toTop .arrow .icon-right {
      color: #000;
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }
  .toTop:hover {
    opacity: 1;
    color: #fff;
    border: 2px solid #f8721d;
    width: 84px;
    height: 84px;
    bottom: 98px;
    right: 28px; }
    .toTop:hover .arrow .icon-right {
      color: #fff; }

/* MEDIA */
@media screen and (min-width: 992px) {
  .goods2__row {
    position: relative; }
  .goods2__right {
    position: absolute;
    right: 0; } }

@media screen and (max-width: 1200px) {
  .goods, .about, .section-slider {
    padding: 0 10px; }
  .slider__img {
    width: 100%; }
  .goods1__left__item img, .goods2__left__item img, .goods3__left__item img {
    width: 100%; } }

@media screen and (max-width: 991px) {
  .header__logo {
    margin-bottom: 15px; }
  .slider__item {
    padding: 10px 0; }
  .slider__left {
    text-align: center; }
  .slider__right img {
    margin: 0 auto; }
  .goods1 h2, .goods2 h2, .goods3 h2 {
    text-align: center; }
  .goods1__left__item img, .goods2__left__item img, .goods3__left__item img {
    margin: 0 auto; }
  .goods1__right__title, .goods2__right__title, .goods3__right__title {
    margin: 20px 0 50px; }
  .goods1__left__nav__item img, .goods2__left__nav__item img, .goods3__left__nav__item img {
    margin: 0 auto; }
  .title {
    margin: 20px auto; } }

@media screen and (max-width: 767px) {
  .header__row {
    margin: 20px 0; }
  .menu {
    display: block;
    top: -300px;
    opacity: 0;
    position: absolute;
    text-align: left;
    z-index: -1;
    background: #fff; }
    .menu__click {
      position: relative;
      opacity: 1;
      top: 0px;
      z-index: 2;
      background: url(../img/menu.png) no-repeat 150px 75%; }
    .menu__item {
      padding: 10px 0; }
      .menu__item__link {
        padding: 10px;
        position: relative; }
        .menu__item__link:hover {
          background: transparent;
          color: #000; }
          .menu__item__link:hover:after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #f8721d;
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -50%;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            top: 30px; }
  .about__img img {
    width: 100%; } }

@media screen and (max-width: 425px) {
  .contacts__text__phone, .contacts__text__address, .contacts__text__mail {
    white-space: pre-line; }
  .goods1__left__nav__item, .goods2__left__nav__item, .goods3__left__nav__item {
    height: 70px; }
    .goods1__left__nav__item img, .goods2__left__nav__item img, .goods3__left__nav__item img {
      width: 70px; }
  .menu__item__link {
    font-size: 17px; }
  .toTop {
    right: 15px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    font-size: 15px;
    text-align: center;
    line-height: 70px; }
    .toTop:hover {
      width: 64px;
      height: 64px;
      bottom: 28px;
      right: 13px; } }