*:focus, button:focus {
  outline: none; }

body {
  font-size: 16px;
  cursor: default;
  font-family: sans-serif; }

ul, nav {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #000; }
  a:hover {
    text-decoration: none; }
input {
  border-radius: 20px;
  padding: 0 10px;
  white-space: nowrap;
  margin-bottom: 10px; }

.animated {
  transition: all 1s ease !important; }

.spin {
  display: inline-block; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden; }

.button {
  position: relative;
  width: 170px;
  height: 45px;
  background-color: #27c5ff;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.9;
  transition: 0.4s ease;
  overflow: hidden; }
  .move-light:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: #fff;
    transform: translate(-3em) skewX(-45deg);
    animation: movelight 5s ease 2s infinite; 
    opacity: 0.6;
  }
  @keyframes movelight {
    from { transform: translateX(-4em) skewX(-45deg); }
    to { transform: translateX(50em) skewX(-45deg); }
  }
  .button:hover {
    opacity: 1;
    background-color: #f8721d; }
  .button__slider {
    font-size: 20px;
    bottom: -25px;
    position: absolute;
    background-color: transparent;
    border: none; }
    .button__slider__prev {
      right: 50px; }
    .button__slider__next {
      right: 15px; }

span[class*="icon-"] {
  padding: 5px;
  color: #27c5ff; }
  span[class*="icon-"]:hover {
    color: #f8721d; }

.card {
  position: relative;
  width: 150px;
  height: 60px;
  perspective: 1000px;
  border: none;
  background-color: transparent;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 5px;
  color: #fff;
}
.front {
  background-color: #27c5ff;
}
.back {
  background-color: #f8721d;
  transform: rotateY(180deg);
  font-size: 30px;
}
.back a, .back span {
  color: #fff !important;
  font-weight: bold;
}

.header {
  width: 100%; }
  .header__row {
    justify-content: space-between;
    margin: 30px 0; }

.menu {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  align-items: center;
  transition: all 1s ease !important; }
  .menu__click {
    transition: all 1s ease !important; }
  .menu__item__link {
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 20px;
    transition: 0.4s ease;
    border-radius: 20px;
    color: #778089;
    text-transform: uppercase; }
    .menu__item__link:hover {
      color: #fff;
      background-color: #27c5ff; }

.mobile-menu {
  position: relative;
  width: 45px;
  height: 35px;
  cursor: pointer;
  z-index: 3;
  left: 10px;
  padding: 0px;
  top: -45px; }
  .mobile-menu span {
    position: absolute;
    width: 45px;
    height: 9px;
    background-color: #000;
    border-radius: 9px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.5s ease; }
    .mobile-menu span:nth-child(1) {
      top: 0; }
    .mobile-menu span:nth-child(2) {
      top: 13px; }
    .mobile-menu span:nth-child(3) {
      top: 13px; }
    .mobile-menu span:nth-child(4) {
      top: 26px; }
  .mobile-menu__open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .mobile-menu__open span:nth-child(2) {
    transform: rotate(45deg); }
  .mobile-menu__open span:nth-child(3) {
    transform: rotate(-45deg); }
  .mobile-menu__open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
    transition: 0.4s ease; }

.section-slider {
  background-color: #f7f7f7; }

.slider__item {
  padding: 50px 0; }

.slider__img {
  max-width: 750px; }

.title {
  margin: 30px auto; }

/*GOODS */
.goods {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  position: relative; }
  .goods:after {
    content: '';
    background-color: #f7f7f7;
    height: 2px;
    width: 80%;
    display: block;
    position: relative;
    margin: 0px auto;
    top: 15px; }
  .goods__left__item {
    padding: 20px; }
  .goods__left img {
    max-width: 570px;
    background-color: transparent; }
    .goods__left img .slick-dots {
      bottom: 0; }
  .goods .slick-current img {
    opacity: 1; }
  .goods__content {
    position: relative;
    margin-bottom: 50px; }
  .goods__right {
    z-index: 2; }
    .goods__right__title {
      display: block;
      margin: 80px 0 60px;
      position: relative; }
      .goods__right__title:after {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        top: 65px;
        background-color: #27c5ff;
        transition: 0.4s ease; }
      .goods__right__title:hover:after {
        width: 90px;
        background-color: #f8721d; }
    .goods__right__li, .goods__right__li2 {
      padding: 5px 0; }
      .goods__right__li:hover [class^='icon-'], .goods__right__li2:hover [class^='icon-'] {
        color: #f8721d;
        transition: 0.4s ease; }
    .goods__right__li2 {
      display: flex;
      align-items: center; }
      .goods__right__li2 [class^='icon-'] {
        font-size: 25px; }
      .goods__right__li2__text {
        padding: 5px;
        letter-spacing: -0.03em; }
        .goods__right__li2__text p {
          margin: 0;
          line-height: 28px; }
        .goods__right__li2__text span {
          font-size: 20px; }
    .goods__right__link:hover .spin {
      transition: 0.4s ease;
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      -ms-transform: rotateX(180deg); }
    .goods__right__link:hover .icon-right {
      color: #f8721d;
      transition: 0.4s ease; }
  .goods .icon-right {
    font-size: 14px;
    font-weight: bold; }

.button-row {
  display: flex;
  justify-content: space-between; }

#goods2, #goods4 {
  background-color: #f7f7f7; }

.goods__left__nav__item {
  height: 100px; }
  .goods__left__nav__item img {
    width: 100px;
    opacity: 0.6; }
    .goods__left__nav__item img:hover {
      opacity: 1;
      transition: 0.4s ease; }

.about, .contacts {
  text-align: center; }

.contacts__text {
  font-size: 18px;
  margin: 20px auto; }
  .contacts__text__address:hover span[class^="icon"], .contacts__text__phone:hover span[class^="icon"], .contacts__text__mail:hover span[class^="icon"], .contacts__text__phone__mail:hover span[class^="icon"] {
    color: #f8721d; }
  .contacts__text__mail {
    border-radius: 20px;
    margin-bottom: 10px; }
  .contacts__text__mail input, .contacts__text__phone__mail input {
    padding: 0 10px;
    white-space: nowrap;
    margin-bottom: 25px; }

.pd {
  margin-left: 40px; }

.gradient {
  background-color: #fbfbfb;
  background-image: url(data:image/svg+xmlbase64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, white), color-stop(1, #f7f7f7));
  background-image: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom, white 0%, #f7f7f7 100%);
  background-image: -ms-linear-gradient(top, white 0%, #f7f7f7 100%); }

.toTop {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 100px;
  background: #27c5ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 99;
  transition: 0.4s ease;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
  cursor: pointer; }
  .toTop .arrow {
    position: absolute;
    transform: rotate(-90deg);
    top: -25px;
    left: 50%;
    margin-left: -10px; }
    .toTop .arrow .icon-right {
      color: #000;
      transition: 0.4s ease; }
  .toTop:hover {
    opacity: 1;
    color: #fff;
    border: 2px solid #f8721d;
    width: 84px;
    height: 84px;
    bottom: 98px;
    right: 28px; }
    .toTop:hover .arrow .icon-right {
      color: #fff; }

.price {
  position: absolute;
  top: 400px;
  right: 400px;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: transparent;
  color: #27c5ff;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 10; }
  .price:hover {
    transform: rotate(20deg);
    color: #f8721d; }
    .price:hover #rouble {
      color: #f8721d; }

#rouble {
  color: #27c5ff;
  padding: 5px;
  font-size: 26px;
  transition: all 0.4s ease-in-out; }

.cart, .thx {
  display: none;
  width: 400px;
  margin-left: -200px;
  border: 1px solid #f8721d;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 5px;
  z-index: 99;
  background-color: #fff;
  opacity: 1; }
  .cart {
    height: 500px;
    margin-top: -250px;
  }
  .cart__title {
    text-align: center;
    border-bottom: 2px solid #f8721d; }
  .cart__img {
    width: 150px;
    height: 150px;
    overflow: hidden; }
    .cart__img img {
      width: 100%; }
.thx {
  height: 100px;
  margin-top: -50px;
  text-align: center;
  font-size: 22px;
}
.thx span {
  font-size: 18px; 
}

.out__cart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  background: #000;
  cursor: pointer;
  z-index: 98; }
.order {
  cursor: pointer;
}


/* MEDIA */
@media screen and (min-width: 992px) {
  #goods2__row, #goods4__row {
    position: relative; }
  #goods2__right, #goods4__right {
    position: absolute;
    right: 0; } }

@media screen and (max-width: 1200px) {
  .goods, .about, .section-slider {
    padding: 0 10px; }
  .slider__img {
    width: 100%; }
  .goods__left__item img {
    width: 100%; }
  .price {
    top: 350px;
    right: 350px; } }

@media screen and (max-width: 991px) {
  .header__logo {
    margin-bottom: 15px; }
  .slider__item {
    padding: 10px 0; }
  .slider__left {
    text-align: center; }
  .slider__right img {
    margin: 0 auto; }
  .goods h2 {
    text-align: center; }
  .goods__left__item img {
    margin: 0 auto; }
  .goods__right__title {
    margin: 20px 0 50px; }
  .goods__left__nav__item img {
    margin: 0 auto; }
  .title {
    margin: 20px auto; }
  .price {
    top: 450px;
    right: 50%;
    margin-right: -75px; } }

@media screen and (max-width: 767px) {
  .header__row {
    margin: 20px 0; }
  .menu {
    display: block;
    top: -300px;
    opacity: 0;
    position: absolute;
    text-align: left;
    z-index: -1;
    background: #fff; }
    .menu__click {
      position: relative;
      opacity: 1;
      top: 0px;
      z-index: 2;
      background: url(../img/menu.png) no-repeat 150px 75%; }
    .menu__item {
      padding: 10px 0; }
      .menu__item__link {
        padding: 10px;
        position: relative; }
        .menu__item__link:hover {
          background: transparent;
          color: #000; }
          .menu__item__link:hover:after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: #f8721d;
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -50%;
            transition: 0.4s;
            top: 30px; }
  .about__img img {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .price {
    top: 58%; } }

@media screen and (max-width: 425px) {
  .contacts__text__phone, .contacts__text__address, .contacts__text__mail {
    white-space: pre-line;
    margin-bottom: 0;
    white-space: pre-line;
    margin-bottom: 10px; }
  .goods__left__nav__item {
    height: 70px; }
    .goods__left__nav__item img {
      width: 70px; }
  .menu__item__link {
    font-size: 17px; }
  .toTop {
    right: 15px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    font-size: 15px;
    text-align: center;
    line-height: 70px;
    z-index: 5; }
    .toTop:hover {
      width: 64px;
      height: 64px;
      bottom: 28px;
      right: 13px; }
  .price {
    width: 110px;
    height: 110px;
    right: 50%;
    margin-right: -55px; } }

