$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-left2-path1: "\e94a";
$icon-left2-path2: "\e94b";
$icon-right1-path1: "\e94c";
$icon-right1-path2: "\e94d";
$icon-right-path1: "\e946";
$icon-right-path2: "\e947";
$icon-left1-path1: "\e948";
$icon-left1-path2: "\e949";
$icon-01-path1: "\e926";
$icon-01-path2: "\e927";
$icon-3-path1: "\e928";
$icon-3-path2: "\e929";
$icon-4-path1: "\e92a";
$icon-4-path2: "\e92b";
$icon-icon2-path1: "\e92c";
$icon-icon2-path2: "\e92d";
$icon-icon21-path1: "\e92e";
$icon-icon21-path2: "\e92f";
$icon-icon22-path1: "\e930";
$icon-icon22-path2: "\e931";
$icon-icon23-path1: "\e932";
$icon-icon23-path2: "\e933";
$icon-icon24-path1: "\e934";
$icon-icon24-path2: "\e935";
$icon-icon25-path1: "\e936";
$icon-icon25-path2: "\e937";
$icon-icon31-path1: "\e938";
$icon-icon31-path2: "\e939";
$icon-icon-cart-path1: "\e93a";
$icon-icon-cart-path2: "\e93b";
$icon-icon-play-path1: "\e93c";
$icon-icon-play-path2: "\e93d";
$icon-icon-search-path1: "\e93e";
$icon-icon-search-path2: "\e93f";
$icon-left-path1: "\e940";
$icon-left-path2: "\e941";
$icon-link-path1: "\e942";
$icon-link-path2: "\e943";
$icon-lupa2-path1: "\e944";
$icon-lupa2-path2: "\e945";
$icon-h-basket: "\e922";
$icon-h-gear: "\e923";
$icon-h-heart: "\e924";
$icon-h-power: "\e925";
$icon-Right_copy_5: "\e921";
$icon-bag_copy_4: "\e902";
$icon-dd_copy: "\e910";
$icon-dd_copy_4: "\e911";
$icon-data_transmission_copy: "\e912";
$icon-data_transmission_copy_2-path1: "\e913";
$icon-data_transmission_copy_2-path2: "\e914";
$icon-heart-plus_copy_2: "\e915";
$icon-List: "\e917";
$icon-List_copy: "\e918";
$icon-location-pin_copy: "\e919";
$icon-Menu: "\e91a";
$icon-reload: "\e91c";
$icon-search_copy_4: "\e91e";
$icon-sliders: "\e91f";
$icon-user_copy_11: "\e920";
$icon-banknote: "\e900";
$icon-bulb: "\e901";
$icon-film: "\e903";
$icon-handset: "\e904";
$icon-lab: "\e905";
$icon-like: "\e906";
$icon-mail1: "\e916";
$icon-params: "\e908";
$icon-pen: "\e909";
$icon-Shape_1: "\e90a";
$icon-slideshow: "\e90b";
$icon-stack: "\e90c";
$icon-star: "\e90d";
$icon-user: "\e90e";
$icon-world: "\e90f";
$icon-mail: "\e907";
$icon-twitter: "\ea96";
$icon-skype: "\eac5";
$icon-mobile: "\e958";
$icon-envelop: "\e94e";

